[submodule "os"]
	path = os
	url = git@github.com:jonatanolofsson/helios.git
[submodule "ac/syrup"]
	path = ac/syrup
	url = git@github.com:jonatanolofsson/syrup.git
[submodule "libs/ptam"]
	path = libs/ptam
	url = git@github.com:jonatanolofsson/PTAM-GPL.git
[submodule "libs/gptam"]
	path = libs/gptam
	url = git@github.com:terzakig/gptam.git
